
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @course.limit %>
</p>

<p>
  <strong>Details:</strong>
  <%= @course.details %>
</p>

<%= link_to 'Back', courses_path  ,class:"btn btn-dark"%>
